/* default theme*/

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
.carousel-indicators .active,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.option-box .gear-check
{
	background-color:red
}

.navbar-inverse .navbar-brand span,
.about h1 span,
.testimonials span,
.copyright span,
.footer h3
{
	color:red
}
.option-box .color-option,
.testimonials .carousel-indicators li.active,
.testimonials .carousel-indicators li
{
	border:3px solid red;	
}
.dropdown-menu
{
	border-top:red solid
}


