<md-content class="md-padding home-items" layout-wrap layout="row" ng-cloak>
   
    <div flex-xs flex-sm="50" flex-md="33" flex-gt-md="25" layout="column" class="card-home">
        <md-card class="homeCard">
            <img ng-src="assets/img/research-2.jpg" class="md-card-image" alt="Washed Out">

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">EthicsNet</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-actions layout="row" layout-align="start center">
                <md-card-icon-actions>

                    <md-button class="md-icon-button" aria-label="Favorite" ng-click="x = !x">
                        <md-icon ng-class="{'fav-notactive':x,'fav-active':!x}">
                            <i class="material-icons">favorite</i>
                        </md-icon>
                    </md-button>

                    <md-button class="md-icon-button" aria-label="Share">
                        <md-icon><i class="material-icons">send</i></md-icon>
                    </md-button>

                </md-card-icon-actions>

                <md-button>View Project</md-button>
                <md-button>action 2</md-button>

            </md-card-actions>

            <md-card-content >   
                <!--translate ="title"-->
                 
              <p translate="title"> 
                  <!--<compile-translation></compile-translation>-->
              </p>
            

        </md-card>
    </div>
    

    <div flex-xs flex-sm="50" flex-md="33" flex-gt-md="25" layout="column">
        <md-card class="homeCard">
            <img ng-src="assets/img/research-1.jpg" class="md-card-image" alt="Washed Out">

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">What IF</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-actions layout="row" layout-align="start center">
                <md-card-icon-actions>
                    <md-button class="md-icon-button" aria-label="Favorite" ng-click="y = !y">
                        <md-icon class="fav-notactive" ng-show="y == true">
                            <i class="material-icons">favorite</i>
                        </md-icon>
                        
                        <md-icon class="fav-active" ng-hide="y == true">
                            <i class="material-icons">favorite</i>
                        </md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Share">
                        <md-icon><i class="material-icons">send</i></md-icon>
                    </md-button>
                </md-card-icon-actions>
                <md-button>View Project</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>

            <md-card-content>
                <p>
                    words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
            </md-card-content>

        </md-card>
    </div>


    <div flex-xs flex-sm="50" flex-md="33" flex-gt-md="25" layout="column">
        <md-card class="homeCard">
            <img ng-src="assets/img/project-1.jpg" class="md-card-image" alt="Washed Out">

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">KFH</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-actions layout="row" layout-align="start center">
                <md-card-icon-actions>
                   <md-button class="md-icon-button" aria-label="Favorite" ng-click="z = !z">
                        <md-icon class="fav-notactive" ng-show="z == true">
                            <i class="material-icons">favorite</i>
                        </md-icon>
                        
                        <md-icon class="fav-active" ng-hide="z == true">
                            <i class="material-icons">favorite</i>
                        </md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Share">
                        <md-icon><i class="material-icons">send</i></md-icon>
                    </md-button>
                </md-card-icon-actions>
                <md-button>View Project</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>

            <md-card-content>
                <p>
                    words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
            </md-card-content>

        </md-card>
    </div>


    <div flex-xs flex-sm="50" flex-md="33" flex-gt-md="25" layout="column">
        <md-card class="homeCard">
            <img ng-src="assets/img/project-3.jpg" class="md-card-image" alt="Washed Out">

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">P2B</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-actions layout="row" layout-align="start center">
                <md-card-icon-actions>
                  <md-button class="md-icon-button" aria-label="Favorite" ng-click="a = !a">
                        <md-icon class="fav-notactive" ng-show="a == true">
                            <i class="material-icons">favorite</i>
                        </md-icon>
                        
                        <md-icon class="fav-active" ng-hide="a == true">
                            <i class="material-icons">favorite</i>
                        </md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Share">
                        <md-icon><i class="material-icons">send</i></md-icon>
                    </md-button>
                </md-card-icon-actions>
                <md-button>View Project</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>

            <md-card-content>
                <p>
                    words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
            </md-card-content>

        </md-card>
    </div>


<div flex-xs flex-sm="50" flex-md="33" flex-gt-md="25" layout="column">
        <md-card class="homeCard">
            <img ng-src="assets/img/project-1.jpg" class="md-card-image" alt="Washed Out">

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">KFH</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-actions layout="row" layout-align="start center">
                <md-card-icon-actions>
                 <md-button class="md-icon-button" aria-label="Favorite" ng-click="b = !b">
                        <md-icon ng-class="{'fav-notactive':b,'fav-active':!b}">
                            <i class="material-icons">favorite</i>
                        </md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Share">
                        <md-icon><i class="material-icons">send</i></md-icon>
                    </md-button>
                </md-card-icon-actions>
                <md-button>View Project</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>

            <md-card-content>
                <p>
                    words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
            </md-card-content>

        </md-card>
        
    </div>

</md-content>


