<div class="data-table table-responsive">
    <table class="table table-bordered table-hover  nowrap" cellspacing="0">
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <thead>
            <tr>
                <th>Status</th>
                <th>Order #</th>
                <th>client Name</th>
                <th>Cost</th>
                <th>Country</th>
                <th>Date</th>
                <th class="text-center">View</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="red"> </span></td>
                <td>006255</td>
                <td>Peter andrew Mc Dermit</td>
                <td>$55.00</td>
                <td>South Australia</td>
                <td>06 Sept 2016</td>
                <td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td><span class="green"> </span></td>
                <td>006255</td>
                <td>Peter andrew Mc Dermit</td>
                <td>$55.00</td>
                <td>South Australia</td>
                <td>06 Sept 2016</td>
                <td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td><span class="red"> </span></td>
                <td>006255</td>
                <td>Peter andrew Mc Dermit</td>
                <td>$55.00</td>
                <td>South Australia</td>
                <td>06 Sept 2016</td>
                <td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td><span class="green"> </span></td>
                <td>006255</td>
                <td>Peter andrew Mc Dermit</td>
                <td>$55.00</td>
                <td>South Australia</td>
                <td>06 Sept 2016</td>
                <td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td><span class="red"> </span></td>
                <td>006255</td>
                <td>Peter andrew Mc Dermit</td>
                <td>$55.00</td>
                <td>South Australia</td>
                <td>06 Sept 2016</td>
                <td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td><span class="green"> </span></td>
                <td>006255</td>
                <td>Peter andrew Mc Dermit</td>
                <td>$55.00</td>
                <td>South Australia</td>
                <td>06 Sept 2016</td>
                <td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td><span class="red"> </span></td>
                <td>006255</td>
                <td>Peter andrew Mc Dermit</td>
                <td>$55.00</td>
                <td>South Australia</td>
                <td>06 Sept 2016</td>
                <td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td><span class="green"> </span></td>
                <td>006255</td>
                <td>Peter andrew Mc Dermit</td>
                <td>$55.00</td>
                <td>South Australia</td>
                <td>06 Sept 2016</td>
                <td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td><span class="red"> </span></td>
                <td>006255</td>
                <td>Peter andrew Mc Dermit</td>
                <td>$55.00</td>
                <td>South Australia</td>
                <td>06 Sept 2016</td>
                <td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td><span class="green"> </span></td>
                <td>006255</td>
                <td>Peter andrew Mc Dermit</td>
                <td>$55.00</td>
                <td>South Australia</td>
                <td>06 Sept 2016</td>
                <td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>
            </tr>
        </tbody>
    </table>
</div>