<div class="user-profile">
    <div class="edit-profile">
        <i class="fa fa-pencil" aria-hidden="true"></i> <span>Dashboard</span>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <img src="../assets/images/profile-pic.png" alt="">
        </div>
        <div class="col-xs-7">
            <div class="user-profile-data">
                <i class="fa fa-user " aria-hidden="true"></i> <span>Doctor Ash</span><br/>
                <i class="fa fa-map-marker" aria-hidden="true"></i> <span>03 Ashburn Rd <br/>Ashfield NSW 4532</span>
            </div>
        </div>
    </div>
    <div class="user-profile-menu">
        <ul>
            <li><a href="#">My Profile</a> <span></span></li>
            <li><a href="#">My Orders</a></li>
            <li><a href="#">My Payments</a></li>
            <li><a href="#">My Patients</a></li>
        </ul>
    </div>
</div>