 .header{
    padding:10px 0;
    background-color:$main-color;
    color: #fff;
     min-width: 1200px;
    h1{
        float:left;
        width:25%;
        font-size: 40px;
    }
    .menu{
        width: 75%;
        float:left;
    }
     ul{
         margin: 35px 50px 35px 0;
         float:right;
        li{
            display: inline-block;
            margin: 0 5px;
            a{
                text-decoration: none;
                color:#fff;
                font-size: 20px
            }
            a:hover{
                color:$second-color;
            }
        }
    }
}

    